@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page header and button -->
    <div class="row pb-2">

        <!-- Empty column (for layout purposes) -->
        <div class="col"></div>

        <!-- Page header -->
        <div class="col">
            <h1 class="display-4 text-center">Comments</h1>
        </div>

        <!-- Add user button -->
        <div class="col my-auto">
            <a type="button" href="#" class="btn btn-lg btn-primary float-end">
                Create new
            </a>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="row pb-4">
        <hr />
    </div>

    <div>Post commenting functionality has not been implemented.</div>

</div>
