@model EditPostViewModel

@{
    ViewData["Title"] = "New post";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container">

    <!-- Page Header -->
    <div class="row pb-2">
        <div class="col">
            <h1 class="display-4 text-center">New post</h1>
        </div>
    </div>

    <!-- Post Form -->
    <div class="row">
        <partial name="_PostForm" />
    </div>
</div>
