<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cram Coding - Admin Panel</title>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bg-light bg-gradient">

    <!-- Header -->
    <header class="d-flex flex-row align-items-center bg-dark px-4 py-2 shadow-sm">

        <!-- Label -->
        <h4 class="text-light m-0">Admin Panel</h4>

        <!-- Exit button-->
        <a type="button" asp-controller="Home" asp-action="Index" class="btn btn-lg btn-primary ms-auto px-5">Close</a>

    </header>

    <!-- Main -->
    <main class="d-flex flex-row align-items-stretch">

        <!-- Sidebar -->
        <div class="border-end bg-light shadow-sm" id="adminSidebar">
            <div class="list-group list-group-flush">
                <a asp-controller="AdminPost" asp-action="Posts" class="list-group-item list-group-item-action border-bottom ps-4">Posts</a>
                <a asp-controller="AdminCategory" asp-action="Categories" class="list-group-item list-group-item-action border-bottom ps-4">Categories</a>
                <a asp-controller="AdminTag" asp-action="Tags" class="list-group-item list-group-item-action border-bottom ps-4">Tags</a>
                <a asp-controller="AdminComment" asp-action="Comments" class="list-group-item list-group-item-action border-bottom ps-4">Comments</a>
                <a asp-controller="AdminUser" asp-action="Users" class="list-group-item list-group-item-action border-bottom ps-4">Users</a>
            </div>
        </div>

        <!-- Content -->
        <div class="p-4 flex-fill">
            @RenderBody()
        </div>

    </main>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false);

</body>
</html>
