@model EditPostViewModel

@{
    ViewData["Title"] = "Nowy wpis";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container">

    <!-- Page Header -->
    <div class="row pb-4">
        <div class="col">
            <h1 class="display-4 text-center">Nowy wpis</h1>
        </div>
    </div>

    <!-- Form -->
    <div class="row">

        <form asp-action="AddPost" method="post" class="row" role="form">

            <!-- Validation Summary -->
            <div asp-validation-summary="All" class="text-danger"></div>

            <!-- Post Header -->
            <div class="col-12 pb-3">
                <label asp-for="Header"></label>
                <input asp-for="Header" type="text" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>

            <!-- Post Content -->
            <div class="col-12 pb-3">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control" rows="10" cols="120"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <!-- Post Author -->
            <div class="col-12 pb-3">
                <label asp-for="SelectedAuthor">Autor</label>
                <select asp-for="SelectedAuthor" asp-items="@Model.Authors" class="form-select">
                    <option selected disabled>Wybierz autora...</option>
                </select>
                <span asp-validation-for="SelectedAuthor" class="text-danger"></span>
            </div>

            <!-- Post Category -->
            <div class="col-12 pb-3">
                <label asp-for="SelectedCategory">Kategoria</label>
                <select asp-for="SelectedCategory" asp-items="@Model.Categories" class="form-select">
                    <option selected disabled>Wybierz kategorię...</option>
                </select>
                <span asp-validation-for="SelectedCategory" class="text-danger"></span>
            </div>

            <!-- Post Tags -->
            <div class="col-12 pb-3">
                <label asp-for="SelectedTags">Tagi</label>
                <select asp-for="SelectedTags" asp-items="@Model.Tags" class="form-select" multiple>
                    <option>Wybierz tagi...</option>
                </select>
                <span asp-validation-for="SelectedTags" class="text-danger"></span>
            </div>

            <!-- Published Date -->
            <div class="col-md-6">
                <label asp-for="PublishedDate">Data publikacji</label>
                <input asp-for="PublishedDate" type="date" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>

            <!-- Published Time -->
            <div class="col-md-6 pb-4">
                <label asp-for="PublishedTime">Czas publikacji</label>
                <input asp-for="PublishedTime" type="time" class="form-control" />
                <span asp-validation-for="PublishedTime" class="text-danger"></span>
            </div>

            <!-- Is Visible -->
            <div class="col-12 pb-5">
                <div class="form-check form-switch">
                    <input asp-for="IsVisible" type="checkbox" class="form-check-input" checked />
                    <label asp-for="IsVisible" class="form-check-label">Pokaż wpis</label>
                </div>
                <span asp-validation-for="IsVisible" class="text-danger"></span>
            </div>

            <!-- Save Button -->
            <div class="col-12">
                <button type="submit" onclick="updateFormSubmissionDateTime()" class="btn btn-lg btn-primary btn-block">Zapisz</button>
            </div>

            <!-- Form Submission Datetime (UTC).
            This is a hidden input field which gets updated when the form is submitted.
            This is done by JS function which is subscribed to submit button "onlick" event.
            Form submission datetime is then passed to ViewModel via Model Binding.
            It can be further used by DB persistence logic to store post created/updated date -->
            <input hidden asp-for="FormSumbissionDateTimeUtc" type="datetime" />

        </form>

    </div>
</div>
