@model CategoryViewModel[]

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page header and button -->
    <div class="row pb-2">

        <!-- Empty column (for layout purposes) -->
        <div class="col"></div>

        <!-- Page header -->
        <div class="col">
            <h1 class="display-4 text-center">Categories</h1>
        </div>

        <!-- Add category button -->
        <div class="col my-auto">
            <a type="button" asp-controller="Admin" asp-action="AddCategory" class="btn btn-lg btn-primary float-end">
                Create new
            </a>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="row pb-4">
        <hr />
    </div>

    <!-- Table of categories -->
    <div class="row">

        <!-- Empty column for explicit responsiveness -->
        <div class="col-sm-0 col-lg-1 col-xl-3"></div>

        <!-- Table -->
        <div class="col-sm-12 col-lg-10 col-xl-6">
            <table class="table table-light table-striped">
                <thead>
                    <tr class="table-dark">
                        <th>Category name</th>
                        <th>Posts count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.CategoryName</td>
                            <td>@category.PostsCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Empty column for explicit responsiveness -->
        <div class="col-sm-0 col-lg-1 col-xl-3"></div>

    </div>

</div>
