@model CategoryViewModel[]

@{
    ViewData["Title"] = "Kategorie";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page header and button -->
    <div class="row pb-4">

        <!-- Empty column (for layout purposes) -->
        <div class="col"></div>

        <!-- Page header -->
        <div class="col">
            <h1 class="display-4 text-center">Kategorie</h1>
        </div>

        <!-- Add category button -->
        <div class="col my-auto">
            <a type="button" asp-controller="Admin" asp-action="AddCategory" class="btn btn-lg btn-primary float-end">
                Dodaj
            </a>
        </div>
    </div>

    <!-- Table of categories -->
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Posty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.CategoryName</td>
                        <td>@category.PostsCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
