@{
    ViewData["Title"] = "Kategorie";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Top row -->
    <div class="row pb-4">

        <!-- Empty -->
        <div class="col"></div>

        <!-- Label -->
        <div class="col">
            <h1 class="display-4 text-center">Kategorie</h1>
        </div>

        <!-- Button -->
        <div class="col my-auto">
            <a type="button" href="#" class="btn btn-lg btn-primary float-end">
                Dodaj
            </a>
        </div>
    </div>

    <!-- Bottom row -->
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Posty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Maximus</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Vestibulum</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Libero</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Morbi</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>Proin</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>Cras</td>
                    <td>17</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
