@{
    ViewData["Title"] = "Komentarze";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <div class="row pb-4">
        <h1 class="display-4 text-center">Komentarze</h1>
    </div>

</div>
