@model EditCategoryViewModel

@{
    ViewData["Title"] = "Edit category";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container">

    <!-- Page Header -->
    <div class="row pb-4">
        <h1 class="display-4">Edit category</h1>
    </div>

    <!-- Post Form -->
    <div class="row">
        <partial name="_CategoryForm" />
    </div>

</div>
