
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="mb-2">Implementation of Admin Panel is in progress.</div>
<div>Some functionalities may not work correctly.</div>
