@model EditCategoryViewModel
<!-------------------------------------------------------------------------->
<!-- Partial View - _CategoryForm                                         -->
<!-------------------------------------------------------------------------->
<!--                                                                      -->
<!-- It should be used for adding new category and editing existing one.  -->
<!--                                                                      -->
<!--                                                                      -->
<!-- IMPORTANT !!!                                                        -->
<!--                                                                      -->
<!-- Controller and action method which will be used to submit a form ... -->
<!-- ... are "bound" from the model and they must be set properly there   -->
<!--                                                                      -->
<!-------------------------------------------------------------------------->


<form asp-controller="@Model.SubmitController" asp-action="@Model.SubmitAction" method="post" role="form">

    <!-- Category Name -->
    <div class="pb-4">
        <label asp-for="CategoryName">Name</label>
        <input asp-for="CategoryName" type="text" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <!-- Save button -->
    <button type="submit" class="btn btn-lg btn-primary">Save</button>

</form>
