@model int
<!------------------------------------------------------------------->
<!-- Partial View - _DeletePostConfirmationModal                   -->
<!------------------------------------------------------------------->
<!--                                                               -->
<!-- IMPORTANT !!!                                                 -->
<!--                                                               -->
<!-- "id" attribute of the partial modal ...                       -->
<!-- ... must match the value of the "data-bs-target" attribute    -->
<!--                                                               -->
<!------------------------------------------------------------------->
<!--                                                               -->
<!-- Post ID is passed as a model                                  -->
<!--                                                               -->
<!------------------------------------------------------------------->

<div class="modal fade" id=@($"_DeletePostConfirmationModal-{Model}") data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Are you really sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p>This action <b>cannot</b> be undone.</p>
                <p>Post @Model will be permanently deleted.</p>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">

                <!-- Cancel button -->
                <a class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</a>

                <!-- Delete button-->
                <a asp-controller="Admin" asp-action="DeletePost" asp-route-id=@Model class="btn btn-danger">Delete</a>

            </div>

        </div>
    </div>
</div>
