<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cram Coding</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="bg-light bg-gradient">

    <!-- Top Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-light px-5 py-4 mb-5 shadow-sm">
        <div class="container">
            <a class="navbar-brand h1" href="#page-top">CRAM CODING</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menu" class="navbar-collapse collapse">
                <ul class="navbar-nav ms-auto">
                    @if (User.IsInRole(Role.AdminUser.ToString()))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                        </li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container">
        <div class="row">

            <!-- Rendered Body -->
            <div class="col-md-8">
                @RenderBody()
            </div>

            <!-- Sidebars -->
            <div class="col-md-4 d-flex flex-column">
                @await Component.InvokeAsync("CategoryMenu")
                @await Component.InvokeAsync("TagCloud")
            </div>

        </div>
    </main>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false);

</body>
</html>
