<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cram Coding</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <!-- Top Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-light px-5 py-4 mb-5">
        <div class="container">
            <a class="navbar-brand h1" href="#page-top">CRAM CODING</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menu" class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    @if (User.IsInRole(Role.AdminUser.ToString()))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                        </li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container">
        <div class="row">

            <!-- Rendered Body -->
            <div class="col-md-8">
                @RenderBody()
            </div>

            <!-- Sidebars -->
            <div class="col-md-4 d-flex flex-column">

                <!-- Categories -->
                @await Component.InvokeAsync("CategoryMenu")

                <!-- Tags  -->
                <div class="card mb-5">
                    <div class="card-header bg-dark text-light">
                        Dolor
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-wrap">
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">magna </span></a>
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">enim </span></a>
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">tincidunt</span></a>
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">blandit</span></a>
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">vestibulum</span></a>
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">primis</span></a>
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">ultrices</span></a>
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">elementum</span></a>
                            <a href="#"><span class="badge rounded-pill bg-secondary text-light px-2 py-1 mr-2">placerat</span></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false);

</body>
</html>
