
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Optio voluptatibus illo eligendi nesciunt dolor sunt rem
        suscipit, quo, nemo recusandae earum impedit magni
        mollitia quod omnis nulla voluptatum. Quisquam, quis.
    </p>
</section>
