@model CategoryPostsViewModel

<h1>@Model.CategoryName</h1>

@foreach (var post in Model.Posts)
{
    <div class="card mb-4">
        <div class="card-body">
            <h5>@post.Header</h5>
            <p>@post.Content</p>
        </div>
    </div>
}
