@model EditTagViewModel

@{
    ViewData["Title"] = "Edit tag";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container">

    <!-- Page Header -->
    <div class="row pb-4">
        <h1 class="display-4">Edit tag</h1>
    </div>

    <!-- Post Form -->
    <div class="row">
        <partial name="_TagForm" />
    </div>

</div>
