@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page header and button -->
    <div class="row pb-2">

        <!-- Empty column (for layout purposes) -->
        <div class="col"></div>

        <!-- Page header -->
        <div class="col">
            <h1 class="display-4 text-center">Users</h1>
        </div>

        <!-- Add user button -->
        <div class="col my-auto">
            <a type="button" href="#" class="btn btn-lg btn-primary float-end">
                Create new
            </a>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="row pb-4">
        <hr />
    </div>

    <!-- Table of users -->
    <div class="row">

        <!-- Empty column for explicit responsiveness -->
        <div class="col-sm-0 col-lg-1 col-xl-3"></div>

        <div>User data below is a dummy data and does not come from the database.</div>
        <div class="mt-2 mb-4">Listing users from the database has not been implemented.</div>

        <!-- Table -->
        <div class="col-sm-12 col-lg-10 col-xl-6">
            <table class="table table-light table-striped">
                <thead>
                    <tr class="table-dark">
                        <th>User name</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Super Blogger</td>
                        <td>AdminUser</td>
                    </tr>
                    <tr>
                        <td>Hero Blogger</td>
                        <td>BasicUser</td>
                    </tr>
                    <tr>
                        <td>Mega Blogger</td>
                        <td>BasicUser</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Empty column for explicit responsiveness -->
        <div class="col-sm-0 col-lg-1 col-xl-3"></div>

    </div>

</div>
